body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navigation {
    display: flex;
    height: 60px;
    background-color: #000;
}

.nav-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {}.

.middle {}

.right {}
